

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo', sans-serif;
    color: black;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.top {
    padding-bottom: 100px;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;
    gap: 130px;

}

.text_logo {
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
}
.black {
    color: black;
}
.red {
    color: red;
}

.header_menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.header_link {
    text-decoration: none;
}

.home {
    color: red;
}

.top_info {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.info {
    width: 350px;
}

.subtitle {
    margin-bottom: 10px;
    width: 300px;
    font-size: 35px;
    font-weight: 600
}

.info_text {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 100;
}

.top_buttons{
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.button {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgb(245, 241, 241);
    border-radius: 50px;
    color:rgb(240, 245, 245);
    border: none;
}

.button2 {
    color:rgb(124, 126, 126);
    border: none;
    background-color: white;
}

.top_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.description {
    margin-top: 50px;
}

.description_info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 10px;
    margin-left: 70px
    
}

.icon {
    margin-bottom: 16px;
}

.header_about_us {
    margin-bottom: 16px;
}

.description_text {
    width: 300px;
    margin-bottom: 16px;
}

.description_button {
    border: none;
    background-color: white;
}

.choose_us {
    margin-left: px;
    padding-bottom: 100px;
    
}

.header_choose_us {
    margin-top: 100px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.choose_us_text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 700px;
}

.advantages_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 90px 
    
}

.advantages_img {
    width: 330px;
    margin-bottom: 16px;
}

.advantages_header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.advantages_text {
    width: 315px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.advantages_button {
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgb(245, 241, 241);
    border-radius: 50px;
    color:rgb(240, 245, 245);
    border: none;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


